<!-- <img class="absolute z-10 top-0 w-auto" [src]="wallpaperPath" alt="Roger Rodrigues"> -->

<div class="w-full grid grid-cols-2 mt-10">
	<div class="">
		<p class="relative z-20 text-gray-100 text-xl sm:text-6xl uppercase tracking-wider">Roger</p>
		<p class="relative z-20 text-gray-100 text-3xl sm:text-8xl uppercase font-black -mt-2 sm:-mt-3">Rodrigues</p>
		<p class="relative z-20 text-gray-100 text-base sm:text-3xl uppercase font-light select-none tracking-widest">{{ '{' }} Full-stack Web Developer {{ '}' }}</p>
	</div>
	
	<div class="flex items-start justify-end">
		<img class="z-10 top-0 right-0 w-10/12" [src]="peoplePath" alt="Roger Rodrigues">
	</div>
</div>


